<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <h1 class="navbar-brand" (click)="goHome()">Twitter Task</h1>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Email List
                </a> 
                <div class="dropdown-menu dropdownList" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item border-bottom border-info"  *ngFor="let item of items" (click)="getTweetByID(item.id)">{{item.email}}</a>
                    
                </div>           
            </li>

        </ul>
        <ul class="navbar-nav mr-auto"> 
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    User Post Id List
                </a>
                <div class="dropdown-menu dropdownList" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item  border-bottom border-info"  *ngFor="let post of postIds" (click)="getTweetsByPostID(post.postId)">{{post.postId}}</a>
                    
                </div>
            </li>

        </ul>
        <form class="form-inline my-2 my-lg-0">

            <button class="btn btn-outline-danger my-2 my-sm-0" (click)="logOut()">Log Out</button>
        </form>
    </div>
</nav>