
<div  >
    <div class="d-flex flex-column flex-shrink-0 p-3 sidemenu fixed-top" >
    
     
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a (click)="goHome()"     class="nav-link active" aria-current="page">
            <svg class="bi me-2" width="16" height="16">
              <use xlink:href="#home"></use>
            </svg>
            <i class="fas fa-home"></i>  Home
          </a>
        </li>
        <li>
          <a  class="nav-link link-dark "  >
            <svg class="bi me-2" width="16" height="16">
              <use xlink:href="#speedometer2"></use>
            </svg>
            <i class="fas fa-bell"></i> Notification
          </a>
        </li>
        <li>
          <a   class="nav-link link-dark" >
            <svg class="bi me-2" width="16" height="16">
              <use xlink:href="#table"></use>
            </svg>
            <i class="fas fa-envelope mr-1"></i>Messages
          </a>
        </li>
        <li>
          <a   class="nav-link link-dark" >
            <svg class="bi me-2" width="16" height="16">
              <use xlink:href="#grid"></use>
            </svg>
            <i class="fas fa-user"></i> Profile
          </a>
        </li>
        <li>
          <a href="#" class="nav-link link-danger" (click)="logOut()">
            <svg class="bi me-2" width="16" height="16">
              <use xlink:href="#people-circle"></use>
            </svg>
            <i class="fas fa-sign-out-alt"></i>    Log Out
          </a>
        </li>
       
      </ul>

 
    
     
    </div>
  </div>