/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

.appBackColor{
    background-color:#15202B !important ;
    color: white !important;
    border-color: white !important;
}