/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

.appBackColor{
    background-color:#FFFFFF  !important ;
    color: #536471 !important;
    border-color: #EFF3F4 !important;
}

.title{
    color:#0F1419 !important;
    font-weight:  bold !important;
}